{
    "semi": true,
    "singleQuote": true,
    "quoteProps": "consistent",
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "singleAttributePerLine": true,
    "htmlWhitespaceSensitivity": "strict",
    "endOfLine": "lf",
    "insertPragma": false,
    "requirePragma": false,
    "proseWrap": "preserve",
    "embeddedLanguageFormatting": "auto",
    "printWidth": 80,
    "tabWidth": 2,
    "useTabs": false,
    "plugins": [
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ],
    "tailwindFunctions": [
        "clsx",
        "cn",
        "cva"
    ],
    "overrides": [
        {
            "files": [
                "**/*.json",
                "**/*.jsonc"
            ],
            "options": {
                "trailingComma": "none"
            }
        },
        {
            "files": [
                "**/*.md",
                "**/*.mdx"
            ],
            "options": {
                "proseWrap": "always",
                "printWidth": 80
            }
        },
        {
            "files": [
                "**/*.yml",
                "**/*.yaml"
            ],
            "options": {
                "tabWidth": 2,
                "singleQuote": false
            }
        },
        {
            "files": [
                "**/*.css",
                "**/*.scss",
                "**/*.less"
            ],
            "options": {
                "singleQuote": false
            }
        }
    ]
}
